<ion-content>
  <div class="content">
    <ion-card-header>
      <ion-card-subtitle class="centered">NORTHWEST MEDICAL CLINIC</ion-card-subtitle>
      <ion-card-title class="centered">MY PROFILE</ion-card-title>
    </ion-card-header>
    <div class="buttons-container">
      <ion-button color="light" (click)="cancel()">CANCEL</ion-button>
      <div class="spacer"></div>
      <ion-button color="primary" (click)="logout()">LOGOUT</ion-button>
    </div>
    <div class="spacer"></div>
  </div>
</ion-content>
