<ion-content>
  <div class="content">
    <ion-card-header>
      <ion-card-subtitle class="centered">NORTHWEST MEDICAL CLINIC</ion-card-subtitle>
      <ion-card-title class="centered">APPOINTMENT VIEW</ion-card-title>
      <ion-card-content>
        <div class="main-container">
          <div class="patient-information container">
            <div class="column-container">
              <ion-card-title>{{appointment?.patient?.firstName}} {{appointment?.patient?.lastName}}</ion-card-title>
              <ion-card-subtitle>{{appointment?.patient?.phoneNumber}}</ion-card-subtitle>
            </div>
            <div class="spacer"></div>
            <ion-textarea label="NOTES" labelPlacement="floating" fill="outline" [value]="appointment?.notes">
            </ion-textarea>
          </div>
          <div class="spacer"></div>
          <div class="appointment-controls-container">
            <div class="row-container">
              <ion-card-title>{{getAppointmentDate()}}</ion-card-title>
              <div class="small-spacer"></div>
              <ion-card-subtitle>{{getAppointmentTimeRange()}}</ion-card-subtitle>
            </div>
            <div class="small-spacer"></div>
            <div class="row-container">
              <ion-button color="secondary">UPDATE</ion-button>
              <ion-button color="danger" (click)="openCancelAppointmentModal()">REMOVE</ion-button>
            </div>
            <ion-button color="primary" (click)="checkInOut(appointment!.status)">
              {{getCheckInLabel()}}
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card-header>
    <div class="buttons-container">
      <ion-button color="light" (click)="cancel()">DISMISS</ion-button>
    </div>
    <div class="spacer"></div>
  </div>
</ion-content>
