<ion-content>
  <div class="content">
    <ion-card-header>
      <ion-card-subtitle class="centered">NORTHWEST MEDICAL CLINIC</ion-card-subtitle>
      <ion-card-title class="centered">APPOINTMENT BOOKING</ion-card-title>
      <ion-card-content>
        <div class="time-container">
          <ion-input labelPlacement="stacked" label="Date" [value]="dateString" [disabled]="true"></ion-input>
          <div class="spacer"></div>
          <ion-select label="Start Time" label-placement="floating" fill="outline" [value]="startTimeFormControl.getRawValue()" [formControl]="startTimeFormControl">
            <ion-select-option *ngFor="let time of getStartTimes(); let i = index" [value]="time">
              {{time}}
            </ion-select-option>
          </ion-select>
          <div class="spacer"></div>
          <ion-select label="End Time" label-placement="floating" fill="outline" [value]="endTimeFormControl.getRawValue()" [formControl]="endTimeFormControl">
            <ion-select-option *ngFor="let time of getEndTimes(); let i = index" [value]="time">
              {{time}}
            </ion-select-option>
          </ion-select>
        </div>
        <div class="spacer"></div>
        <div class="name-container">
          <ion-input labelPlacement="stacked" label="First Name" placeholder="Patient first name" errorText="Required" [formControl]="firstNameFormControl"></ion-input>
          <div class="spacer"></div>
          <ion-input labelPlacement="stacked" label="Last Name" placeholder="Patient last name" errorText="Required" [formControl]="lastNameFormControl"></ion-input>
          <div class="spacer"></div>
          <ion-input labelPlacement="stacked" label="Phone Number" type="tel" placeholder="888-888-8888" errorText="Required" [formControl]="phoneNumberFormControl"></ion-input>
        </div>
        <div class="spacer"></div>
        <ion-textarea label="Notes" labelPlacement="floating" fill="outline" placeholder="Enter additional patient information" [formControl]="notesFormControl">
        </ion-textarea>
      </ion-card-content>
    </ion-card-header>
    <div class="buttons-container">
      <ion-button color="light" (click)="cancel()">CANCEL</ion-button>
      <div class="spacer"></div>
      <ion-button color="primary" (click)="confirm()" [disabled]="!canConfirmAppointment()">CONFIRM</ion-button>
    </div>
    <div class="spacer"></div>
  </div>
</ion-content>
