<ion-content>
  <div class="content">
    <ion-card-header>
      <ion-card-subtitle class="centered">NORTHWEST MEDICAL CLINIC</ion-card-subtitle>
      <ion-card-title class="centered">PATIENT APPOINTMENT SEARCH</ion-card-title>
      <ion-card-content>
        <ion-searchbar class="searchbar" placeholder="Patient Name" (ionInput)="handleSearch($event)">
        </ion-searchbar>
        <div class="patient-list-container">
          <ion-content>
            <ion-list [inset]="true">
              <ion-item 
                *ngFor="let appointment of appointments; let index"
                class="patient-item" 
                (click)="onItemSelect(appointment)"
              >
                  <ion-label>
                      <ion-text>
                          <b>{{ appointment.patient.firstName }} {{appointment.patient.lastName}}</b>
                          <br/>
                          <sub>
                              <ion-text color="medium">
                                {{appointment.date}} | <b>{{getAppointmentTimeRange(appointment)}}</b>
                              </ion-text>
                          </sub>
                      </ion-text>
                  </ion-label>
                  <br/>
              </ion-item>
            </ion-list>  
          </ion-content>
        </div>
      </ion-card-content>
      <div class="buttons-container">
        <ion-button color="light" (click)="cancel()">BACK</ion-button>
      </div>
      <div class="spacer"></div>
    </ion-card-header>
  </div>
</ion-content>
