<ion-content>
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col>TIME</ion-col>
        <ion-col>MON</ion-col>
        <ion-col>TUES</ion-col>
        <ion-col>WED</ion-col>
        <ion-col>THURS</ion-col>
        <ion-col>FRI</ion-col>
        <ion-col>SAT</ion-col>
        <ion-col>SUN</ion-col>
      </ion-row>
    </ion-grid>
    <div class="spacer"></div>
    <ion-grid *ngFor="let time of timeLabels; index as i" style="padding-top: 0px; padding-bottom: 0px;">
      <ion-row>
        <ion-col style="transform: translateY(-15px); color: gray;">{{time}}</ion-col>
        <ion-col
          (click)="onTimeslotSelect('monday', time)"
          style="border-bottom: dotted 1px lightgray; border-right: solid 1px grey; height: 75px;">
        </ion-col>
        <ion-col
          (click)="onTimeslotSelect('tuesday', time)"
          style="border-bottom: dotted 1px lightgray; border-right: solid 1px grey; height: 75px;">
        </ion-col>
        <ion-col
          (click)="onTimeslotSelect('wednesday', time)"
          style="border-bottom: dotted 1px lightgray; border-right: solid 1px grey; height: 75px;">
        </ion-col>
        <ion-col
          (click)="onTimeslotSelect('thursday', time)"
          style="border-bottom: dotted 1px lightgray; border-right: solid 1px grey; height: 75px;">
        </ion-col>
        <ion-col
          (click)="onTimeslotSelect('friday', time)"
          style="border-bottom: dotted 1px lightgray; border-right: solid 1px grey; height: 75px;">
        </ion-col>
        <ion-col
          (click)="onTimeslotSelect('saturday', time)"
          style="border-bottom: dotted 1px lightgray; border-right: solid 1px grey; height: 75px;">
        </ion-col>
        <ion-col
          (click)="onTimeslotSelect('sunday', time)"
          style="border-bottom: dotted 1px lightgray; height: 75px;">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>  
</ion-content>
