.content {
    width: 100%;
    height: 100%;
}

ion-col {
    text-align: center;
}

.timeslot-grid {
    padding-top: 0px;
    padding-bottom: 0px;
    ion-row {
        height: 75px;
    }
    ion-col:not(.time-label) {
        border-bottom: dotted 1px lightgray; 
        border-right: solid 1px grey;
    }
    ion-col:not(.time-label):hover {
        background-color: lightgray;
    }
    ion-col.time-label {
        transform: translateY(-15px); color: gray;
    }
}

ion-card {
    padding: 0px;
    margin: 0px;
}

.spacer {
    padding: 10px;
}

.appointment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3dc2ff;
}

.appointment:hover {
    cursor: pointer;
}
