<ion-content [scrollY]="false">
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>MON</ion-col>
        <ion-col>TUES</ion-col>
        <ion-col>WED</ion-col>
        <ion-col>THURS</ion-col>
        <ion-col>FRI</ion-col>
        <ion-col>SAT</ion-col>
        <ion-col>SUN</ion-col>
      </ion-row>
    </ion-grid>
    <ion-content [scrollY]="true">
      <div class="spacer"></div>
      <ion-grid class="timeslot-grid" *ngFor="let time of timeLabels; index as i">
        <ion-row>
          <ion-col class="time-label">{{time}}</ion-col>
          <ion-col (click)="onTimeslotSelect('monday', time)"></ion-col>
          <ion-col (click)="onTimeslotSelect('tuesday', time)"></ion-col>
          <ion-col (click)="onTimeslotSelect('wednesday', time)"></ion-col>
          <ion-col (click)="onTimeslotSelect('thursday', time)"></ion-col>
          <ion-col (click)="onTimeslotSelect('friday', time)"></ion-col>
          <ion-col (click)="onTimeslotSelect('saturday', time)"></ion-col>
          <ion-col (click)="onTimeslotSelect('sunday', time)"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>  
</ion-content>
