<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>NORTHWEST MEDICAL CLINIC</ion-card-title>
        <ion-card-subtitle>LOGIN</ion-card-subtitle>
        <ion-card-content>
          <ion-input 
            label="Email" 
            placeholder="Enter your email" 
            errorText="Required"
            [formControl]="usernameFormControl"
            (keypress)="checkForEnter($event)"
          >
          </ion-input>
          <ion-input 
            label="Password"
            type="password"
            placeholder="Enter your password"
            errorText="Required"
            [formControl]="passwordFormControl"
            (keypress)="checkForEnter($event)"
          >
          </ion-input>
        </ion-card-content>
      </ion-card-header>
      <div class="login-button-container">
        <ion-button (click)="login()" [disabled]="!canLogin()">LOGIN</ion-button>
      </div>
      <div class="spacer"></div>
      <ion-text class="forgotPassword" color="secondary" (click)="openForgotPasswordModal()">Forgot my password</ion-text>
      <div class="spacer"></div>
    </ion-card>
  </div>
</ion-content>
