<ion-header>
  <div class="toolbar">
    <div class="toolbar-spacer"></div>
    <ion-card (click)="openLogoutModal()" class="user-context">
      <ion-card-header>
        <div class="row">
          <div class="col">
            <ion-card-title>{{userContext.firstName}} {{userContext.lastName}}</ion-card-title>
            <ion-card-subtitle>{{userContext.role}}</ion-card-subtitle>
          </div>
          <div class="spacer"></div>
          <div class="col">
            <ion-icon class="logout-button" color="primary" size="large" name="log-out-outline"></ion-icon>
          </div>
        </div>
      </ion-card-header>
    </ion-card>
    <div class="toolbar-spacer"></div>
    <ion-select [label]="!physicianName ? 'Select a physician name' : 'Physician Name'" label-placement="floating" fill="outline" [(ngModel)]="physicianName" (ionChange)="updatePhysicianName($event)">
      <ion-select-option *ngFor="let name of physicianNameList" [value]="name">{{name}}</ion-select-option>
    </ion-select>
    <div class="toolbar-spacer"></div>
    <ion-searchbar (click)="openPatientSearchModal()" [disabled]="!physicianName" placeholder="Patient Name"></ion-searchbar>
    <div class="toolbar-spacer"></div>
    <ion-button [disabled]="!physicianName" size="small" (click)="decrementDateIndex()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    <ion-title class="dateButton" (click)="openCalendar()">
      <span class="button__icon">
        <ion-icon [color]="!physicianName ? 'medium' : 'primary'" name="calendar-outline"></ion-icon>
      </span>
      <ion-text [color]="!physicianName ? 'medium' : 'dark'">{{getCurrentDateRange()}}</ion-text>
    </ion-title>
    <ion-button [disabled]="!physicianName" size="small" (click)="incrementDateIndex()"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
    <div class="toolbar-spacer"></div>
  </div>
</ion-header>
  
<ion-content>
  <app-calendar-view *ngIf="physicianName else emptyCalendar" [dateRangeIndex]="dateRangeIndex"></app-calendar-view>
</ion-content>

<ng-template #emptyCalendar>
  <ion-content>
    <div class="content">
      <ion-text>PLEASE SELECT A <b>PHYSICIAN NAME</b> IN THE UPPER TOOLBAR TO VIEW THE SCHEDULE</ion-text>
    </div>
  </ion-content>
</ng-template>

<style>
  .button__icon{
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
