<ion-content>
  <div class="content">
    <ion-card-header class="centered">
      <ion-card-content>
        <ion-card-title>Are you sure you want to remove this appointment from the schedule?</ion-card-title>
      </ion-card-content>
    </ion-card-header>
    <div class="buttons-container">
      <ion-button color="light" (click)="cancel()">NO</ion-button>
      <div class="spacer"></div>
      <ion-button color="primary" (click)="confirm()">YES</ion-button>
    </div>
    <div class="spacer"></div>
  </div>
</ion-content>
