<ion-content>
  <div class="content">
    <ion-card-content>
      <ion-card-subtitle class="centered">PASSWORD RECOVERY</ion-card-subtitle>
      <ion-card-title class="centered">NORTHWEST MEDICAL CLINIC</ion-card-title>
      <div class="spacer"></div>
      <ion-text class="centered">Please provide your email, so we can send recovery instructions for your account.</ion-text>
      <div class="spacer"></div>
      <ion-input label="Email" [formControl]="emailFormControl" placeholder="Enter your email" errorText="Required"></ion-input>
    </ion-card-content>
    <div class="spacer"></div>
    <div class="button-container">
      <ion-button color="light" (click)="cancel()">CANCEL</ion-button>
      <div class="spacer"></div>
      <ion-button color="primary" [disabled]="!emailFormControl.getRawValue()" (click)="submit()">SUBMIT</ion-button>
    </div>
  </div>
</ion-content>
