<ion-content>
  <div class="content">
    <ion-card-subtitle>PASSWORD RECOVERY</ion-card-subtitle>
    <ion-card-title>NORTHWEST MEDICAL CLINIC</ion-card-title>
    <div class="spacer"></div>
    <ion-text>Please provide your email, so we can send recovery instructions for your account.</ion-text>
    <div class="spacer"></div>
    <ion-input label="Username" placeholder="Enter your email" errorText="Required"></ion-input>
    <div class="spacer"></div>
    <div class="button-container">
      <ion-button (click)="submit()">SUBMIT</ion-button>
    </div>
  </div>
</ion-content>
